<%- include ../../partials/header.ejs %> 
<%- include ../../partials/navbar.ejs %> 
<%- include ../../partials/sidebar.ejs %> 
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Tambah Spesialis</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="/spesialis/">Spesialis</a></div>
        <div class="breadcrumb-item">Tambah Spesialis</div>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <form action="/spesialis/create/" method="POST">
          <div class="card-body">
            <div class="form-group">
              <label for="kategori">Nama Spesialis</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Masukkan nama spesialis">
            </div>
            
            <button type="submit" class="btn btn-primary">Tambah</button>
            <a href="/spesialis"  class="btn btn-danger">Batal</a>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div>
  </section>
</div>
<%- include ../../partials/footer.ejs %> 
<%- include ../../partials/js.ejs %> 