<div class="table-responsive">
    <table class="table table-striped table-md" id="departemen">
      <thead>                                 
        <tr>
            <th>No</th>
            <th>Nama Device</th>
            <th>Berat Pakan</th>
            <th>Waktu Sensor</th>
            <th>Aksi</th>
        </tr>
      </thead>
      <tbody>                                 
        <% for(let i = 0; i < pasien.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= pasien[i].nama %></td>
                <td><%= pasien[i].volume %> gram</td>
                <td><%= pasien[i].createdAt.toString().substring(0,16) %></td>
                <td>
                    <div class="d-inline">
                        <form action="/rekam-medis/delete/<%= pasien[i]._id %>?_method=DELETE" class="" method="POST">
                            <a href="/rekam-medis/detail/<%= pasien[i]._id %>" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                            <a href="/rekam-medis/edit/<%= pasien[i]._id %>" class="btn btn-warning">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        <% } %>
      </tbody>
    </table>
  </div>