<%- include ../../partials/header.ejs %> 
<%- include ../../partials/navbar.ejs %> 
<%- include ../../partials/sidebar.ejs %> 
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Ubah Departemen</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="/departemen/">Departemen</a></div>
        <div class="breadcrumb-item">Ubah Departemen</div>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <form action="/departemen/edit/<%= category._id %>?_method=PUT" method="POST">
          <div class="card-body">
            <div class="form-group">
              <label for="kategori">Nama Departemen</label>
              <input type="text" name="name" value="<%= category.name %> " class="form-control" id="exampleInputEmail1" placeholder="Masukkan nama departemen">
            </div>
            
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="/departemen" class="btn btn-danger" >Batal</a>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div>
  </section>
</div>
<%- include ../../partials/footer.ejs %> 
<%- include ../../partials/js.ejs %> 