<%- include ../../partials/header.ejs %> 
<%- include ../../partials/navbar.ejs %> 
<%- include ../../partials/sidebar.ejs %> 
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Dokter</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="/dokter/">Dokter</a></div>
        <div class="breadcrumb-item">Tambah Dokter</div>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <form action="/dokter/create/" method="POST">
          <div class="card-body">
            <div class="form-group">
              <label for="kategori">Nama Dokter</label>
              <input type="text" name="nama" class="form-control" id="exampleInputEmail1" placeholder="Masukkan nama departemen">
            </div>
            <div class="form-group">
              <label>Departemen</label>
              <select class="form-control select2" name="departement" style="width: 100%;" required>
                <option selected="selected">Pilih Departement</option>
                <% departement.forEach(departement => { %>
                    <option value="<%= departement.id %>"><%= departement.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="kategori">Spesialis</label>
              <input type="text" name="spesialis" class="form-control" id="exampleInputEmail1" placeholder="Masukkan spesialis dokter">
            </div>
            <div class="form-group">
              <label for="kategori">No Telepon</label>
              <input type="text" name="no_telepon" class="form-control" id="exampleInputEmail1" placeholder="Masukkan nomor telepon">
            </div>
            
            <button type="submit" class="btn btn-primary">Tambah</button>
            <a href="/dokter" class="btn btn-danger">Batal</a>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div>
  </section>
</div>
<%- include ../../partials/footer.ejs %> 
<%- include ../../partials/js.ejs %> 